.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    height: 100vh;
    position: fixed;
    /* border-right: 1px solid gray; */
    padding: 1rem 0;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 1.7rem;
}

.navbar-list-items {
    width: 25px;
}


