*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-image {
  border: 1px solid transparent;
  border-radius: 50%;
}

.icon-button {
  border: none;
  width: 1.3rem;
  background: inherit;
}
